<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <title>Welcome to myTunes</title>
    <script
      type="text/javascript"
      src="http://code.jquery.com/jquery-latest.min.js"></script>
   
    </script>
  </head>

  <body>
<!--Showcase & Nav -->
<div id="showcase">
    <header>
        <nav class='cf'>
            <ul class='cf'>
              <li class="hide-on-Small">
                <a href="#showcase">myTunes</a>
              </li>
              <li>
                <a href='#showcase'>Overview</a>
              </li>
              <li>
                <a href='#music'>Music</a>
              </li>
              <li>
                <a href='#video'>Video</a>
              </li>
              <li>
                <a href='#gift-cards' id="openup">Gift Cards</a>
              </li>
            </ul>
            <a href='#' id='openup'>MyTunes</a>
          </nav>
    </header>

<div class="container">
  <h1>myTunes</h1>
  <h2>
      Your music and movies 
      take center stage.</h2>
  <p class="lead">
    myTunes is the best way to organize 
    and enjoy the music, movies, and TV
     shows you already have — and shop 
     for the ones you want. Enjoy all
     the entertainment iTunes has to 
     offer on your Mac and PC.
    </p>
</div>
</div>

<!--Music Section-->
<section id="music" class="section">
 <div class="container">
   <h2 class="section-head">
      <i class="fas fa-music">Music</i> 
   </h2>
   <h3>50 million songs. Zero ads.</h3>
   <p class="Lead">Stream over 50 million songs, ad-free.
   Or download albums and tracks to listen to offline.
   All the music in your personal myTunes library — 
   no matter where it came from — lives right alongside 
   the Orange Music catalog. Start your free three-month
  trial with no commitment, and cancel anytime.</p>
  <a href="#" class="btn btn-primary">Start Your Trial Now</a>
  <p class="text-light">Orange Music is available
    in myTunes, and for iOs and Android devices.</p>
    <img src="MyTunes.jpg" alt="">
 </div> 
</section>

<!--Video Section-->
<section id="video" class="section-bg-light">
  <div class="container">
    <h3>The movie and TV collection you always wished for. Granted.</h3>
    <p class="lead">
    With over 100,000 movies and TV shows to choose from, there’s always
    something great to watch on iTunes.1 And if you watch on Apple TV 4K,
    you’ll be able to enjoy a tremendous selection of your favorite content 
   in 4K HDR. So get ready to enjoy episodes of your favorite TV shows or
   hit movies you’ve been waiting to see — anytime, anywhere. Just tap to play,
  or even download if you’re going somewhere you won’t have Wi-Fi.</p>
  <a href="#" class="btn btn-secondary">Read More</a>
  <img src="bg.jpg" alt="">
  </div>
</section>

<!--Entertainment Section-->
<section id="entertainment" class="section">
  <div class="container">
    <h3>A world of entertainment.Available wherever you are.</h3>
    <p class="lead">The myTunes Store is available on all your devices,
     which means you can buy that catchy song you just heard or rent 
     that movie you’ve been meaning to see, anytime you want.
     And since your entire library of music, movies,
     and TV shows lives in Huncho, everything you buy is immediately available,
     no matter how you want to play it.</p>
  </div>
</section>
<!--Gift Card Section-->
<section id="gift-cards" class="section bg-light">
  <div class="container">
    <div class="gift-cards">
      <div>
        <h2>Gift Cards</h2>
        <p>Give friends and family an App Store & iTunes Gift Card and they can choose
           anything from the App Store, the myTunes Store, and Apple Books,2 or put it 
           toward Orange Music subscriptions and huncho storage plans. </p><br>
           <p>Already have an Orange myTunes Music gift Card?</p>
           <hr>
           <a href="#" class="text-secondary"></a>
           <i class="fas fa-chevron-right"></i>
      </div>
    </div>
  </div>
</section>
<!--Footer-->
<footer>
  <div class="container">
    <div class="footer-cols">
        <ul>
          <li>Shop & learn</li>
          <li>
            <a href="#">Music</a>
          </li>
          <li>
            <a href="#">Movies</a>
          </li>
          <li>
            <a href="#">Shows</a>
          </li>
          <li>
            <a href="#">Apps</a>
          </li>
          <li>
             <a href="#">Gift Cards</a>
          </li>
        </ul>

        <ul>
          <li>Orange Store</li>
          <li>
            <a href="#">Find a store</a>
          </li>
          <li>
            <a href="#">Today at Orange</a>
          </li>
          <li>
            <a href="#">Orange camp</a>
          </li>
          <li>
            <a href="#">Financing</a>
          </li>
          <li>
            <a href="#">Order Status</a>
          </li>
        </ul>

        <ul>
          <li>Education & Business</li>
          <li>
            <a href="#">Orange & Education</a>
          </li>
          <li>
            <a href="#">Shop For College</a>
          </li>
          <li>
            <a href="#">Orange & Business</a>
          </li>
          <li>
            <a href="#">Sho For Business</a>
          </li>
          <li>
            <a href="#">Jobs</a>
          </li>
        </ul>

        <ul>
          <li>About Orange</li>
          <li>
            <a href="#">Newsroom</a>
          </li>
          <li>
            <a href="#">Orange Leadership</a>
          </li>
          <li>
            <a href="#">Investors</a>
          </li>
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">Contact Orange</a>
          </li>
        </ul>
    </div>
  </div>
  <div class="footer-bottom text-center">
    Copyright &copy; 2019 Orange myTunes
  </div>
</footer>

  <script type="text/javascript"src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="main.js"></script>
   </div>
  </body>
</html>
