@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

* {
  margin: 0;
}
body {
  font: "Roboto Condensed";
  position: relative;
  background-color: #000000;
}
#banner h3 {
  position: absolute;
  width: 190px;
  height: 39px;
  left: 18px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;

  color: rgba(255, 142, 10, 0.94);
}
#banner h4 {
  position: absolute;
  width: 220px;
  height: 33px;
  left: 18px;
  top: 49px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  color: rgba(126, 60, 13, 0.88);
}
nav {
  position: absolute;
  width: 98.7vw;
  height: 57px;
  left: 0px;
  top: 90px;

  background: #aebab8;
}
ul {
  list-style-type: none;
  position: absolute;
  width: 90%;
  height: 23px;
  left: 20px;
  top: 12px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
}
ul li a {
  text-decoration: none;
  color: #000000;
}
ul li {
  padding: 0 3rem;
  display: inline;
}
.image-1 {
  position: absolute;
  width: 396px;
  height: 283px;
  left: 20px;
  top: 188px;
}
.text-1 {
  position: absolute;
  width: 400px;
  height: 175px;
  left: 530px;
  top: 240px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;

  color: #e5e5e5;
}
.image-2 {
  position: absolute;
  height: 273px;
  left: 590px;
  top: 460px;
}
.text-2 {
  position: absolute;
  width: 399px;
  height: 176px;
  left: 90px;
  top: 500px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 22px;

  color: #e5e5e5;
}
.image-3 {
  position: absolute;
  width: 412px;
  height: 330px;
  left: 80px;
  top: 750px;
}
.text-3 {
  position: absolute;
  width: 500px;
  height: 550px;
  left: 500px;
  top: 790px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;

  color: #e5e5e5;
}
.image-4 {
  position: absolute;
  height: 290px;
  left: 550px;
  top: 1150px;
}
.text-4 {
  position: absolute;
  width: 500px;
  height: 224px;
  left: 20px;
  top: 1150px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  color: #e5e5e5;
}
.image-5 {
  position: absolute;
  width: 466px;
  height: 302px;
  left: 50px;
  top: 1500px;
}
.text-5 {
  position: absolute;
  width: 400px;
  height: 224px;
  left: 550px;
  top: 1500px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;

  color: #e5e5e5;
}
.endnote {
  position: absolute;
  width: 250px;
  height: 25px;
  left: 500px;
  top: 2100px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */

  color: #e5e5e5;
}
.fa-facebook {
  position: absolute;
  width: 28px;
  height: 32px;
  left: 80px;
  top: 1900px;
}
.fa-twitter {
  position: absolute;
  width: 35px;
  height: 43px;
  left: 80px;
  top: 1950px;
}
.fa-youtube {
  position: absolute;
  width: 38px;
  height: 55px;
  left: 80px;
  top: 2000px;
}
.p1 {
  position: absolute;
  width: 149px;
  height: 46px;
  left: 110px;
  top: 1900px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #e5e5e5;
}
.p2 {
  position: absolute;
  width: 150px;
  height: 25px;
  left: 110px;
  top: 1950px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */

  color: #e5e5e5;
}
.p3 {
  position: absolute;
  width: 147px;
  height: 25px;
  left: 110px;
  top: 2000px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */

  color: #e5e5e5;
}

.one {
  position: absolute;
  width: 90px;
  height: 13px;
  left: 180px;
  top: 190px;

  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.two {
  position: absolute;
  width: max-content;
  height: 13px;
  left: 700px;
  top: 450px;

  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.three {
  position: absolute;
  width: max-content;
  height: 13px;
  left: 200px;
  top: 750px;

  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.four {
  position: absolute;
  width: max-content;
  height: 13px;
  left: 700px;
  top: 1130px;

  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: white;
}
.five {
  position: absolute;
  width: max-content;
  height: 13px;
  left: 200px;
  top: 1470px;

  font-style: italic;
  font-size: 20px;
  line-height: 23px;
  color: white;
}