<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyMaps</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="main-header">
        <a href="index.html">MyMaps</a>
    </header>
    <nav id="main-nav">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
    </nav>
    <section>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8171113.99594693!2d33.40870428713859!3d0.1651013076482045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182780d08350900f%3A0x403b0eb0a1976dd9!2sKenya!5e0!3m2!1ssw!2ske!4v1585170937890!5m2!1ssw!2ske" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </section>
    <footer id="main-footer">
        <p>Copyright &copy; 2020 MyMaps</p>
    </footer>
</body>
</html>