body{
    background-color: #dcdcdc;
}
.navbar-brand1{
    font-weight: bold;
    font-size: 75px;
}
.navbar{
    background-color: white !important;
}
.center-logo{
    font-size: 60px;
}
.jet{
    font-size: 60px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.plugins{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div2{
    margin-top: 150px !important;/*
    height:400px !important;*/
    background-color: white;
}
.patrick{
    font-weight: bold;
    font-size: 20px;
}
.about-patrick{
    font-weight: 700;
}
.home{
    border-top: 6px solid #ff4b2b;
    padding-top: 1px;
}
.call-patrick{
    border: 1px solid #dcdcdc;
    border-radius: 40px;
    background-color: #dcdcdc;
    color: #ff4b2b;
     font-weight: bold
}
.text1{
    font-weight: bold;
    font-size: 60px;
    padding: 0;
    margin-left: 200px;
    margin-top: 50px;
}
.text1 > p{
    margin: 0;
    padding: 0;
}
small{
    font-size: initial;
}
.last{
    margin-top: 100px;
    padding: 10px;
}
.div3{
    margin-top: 100px !important;
    background-color: white;
}
.text{
    font-weight: bold;
    font-size: 60px;
    padding: 0;
    margin-left: 400px;
    margin-top: 50px;
}
.text > p{
    margin: 0;
}
.row1{
    padding-top: 100px;
}
.row2{
    margin-top: -100px;
}
.row3{
    padding-left: 150px;
}
.row3 > p >a{
    color: #ff4b2b;
    text-underline-position: below;
}
.row4{
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: white;
    margin-top: 150px;
    font-weight: 500;
}

.circle{
    background: #ff4b2b;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}